<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="QLCHSConnection"
			 connectionString ="Server=.\SQLEXPRESS; Database=QLCHS;Integrated Security=True;MultipleActiveResultSets=True;rustServerCertificate=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>